@media only screen and (min-width: 900px) {

    #modulation-controller {
        display: none;
    }

    #controller-container {
        height: 30vmin;
    }

    #main-controller {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #main-controller > div {
        height: 45%;
        margin: 0 3vmin;
        display: flex;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 2vmin;
    }

    .widget-container {
        display: flex;
        align-items: center;
    }

    .widget-container .slider-block {
        margin-left: 2vw;
        height: 85%;
    }

    .widget-container .slider-block .slider-component {
        height: 80%;
    }
    .widget-container .slider-block .slider-label {
        height: 20%;
        text-align: center;
        white-space: nowrap;
        font-size: 0.1em;
    }

    .widget-container .container-label {
        display: none;
    }

    #sub-controller-2 .patch-specific-widget-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    #macro-controller { flex: 1; }
    #envelope-controller { flex: 1.5; }
    #patch-bank-controller { flex: 1; justify-content: flex-end; }
    #time-effects-controller { flex: 1; justify-content: flex-end; }
    #time-effects-controller .slider-block { margin-left: 0; margin-right: 2vw; }

    #patch-bank-controller {
        padding: 1vw 2vw;
    }
    #patch-bank-controller .patch {
        margin-left: 2%;
    }
}