@media only screen and (max-width: 900px) {

    /* Level 1: Complete View*/
    #controller-container {
        display: grid;
        height: 45vmin;
        width: 100%;
        grid-template-columns: 100% 100%;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        transition: all ease-in-out 0.4s;
    }
    #controller-container > div {
        scroll-snap-align: center;
        margin: 0 2vw;
        height: 100%;
    }

    /* Middle Element */
    #main-controller {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #main-controller > div {
        height: 47%;
        display: grid;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
    #sub-controller-1 {
        grid-template-columns: 100% 100% 100%;
    }
    #sub-controller-2 {
        grid-template-columns: 100% 100%;
    }

    .dot-navigate-container {
        height: 6%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dot-navigate-container > .dot-navigate {
        height: 1vmin;
        width: 1vmin;
        border-radius: 1vmin;
        background-color: white;
        opacity: 0.3;
        margin-right: 1.5vw;
        transition: 0.3s;
    }

    .dot-navigate-container > .dot-selected {
        opacity: 1;
        box-shadow: 0 0 3px whitesmoke;
    }

    /*General Styles*/
    .widget-container {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 2vw;
        display: flex;
        align-items: center;
        scroll-snap-align: center;
    }

    .widget-container .slider-block {
        margin-left: 2vw;
        height: 85%;
    }

    .widget-container .slider-block .slider-component {
        height: 80%;
    }
    .widget-container .slider-block .slider-label {
        height: 20%;
        text-align: center;
        white-space: nowrap;
        font-size: 0.1em;
    }

    .widget-container .slider-block .slider-component > div{
        display: block !important;
    }

    .widget-container .container-label {
        width: 100%;
        margin-right: 2vw;
        font-size: calc(10px + 2vw);
        text-align: right;
    }

    #sub-controller-2 .patch-specific-widget-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    #modulation-controller {
        display: flex;
        flex-direction: column;
    }

    #patch-bank-controller {
        padding: 2%;
    }

    #patch-bank-controller .patch {
        margin-right: 2%;
    }
}